# Wrangling Former Colonies
## By: Scott Kustes

### Objective:
Compile a list of former colonies of modern countries. ADD INFO ABOUT WHAT DATA IS INCLUDED IN FINAL OUTPUT

#### Discussion:
History is complex. For many countries, the date of independence is not clear cut. This dataset contains Dr. Hensel's determination of independence date as the point at which a country makes its own foreign and domestic policy decisions. It also contains the independence dates as determined by The Correlates of War Project and the Gleditsch/Ward list of independent states for comparison. In some instances, there are vast differences between the dates.

#### Datasets:
The primary dataset was downloaded from <a href='http://www.paulhensel.org/icow.html' target='_new'>The Issue Correlates of War Project</a>. Additional datasets were downloaded from <a href='http://www.correlatesofwar.org' target='_new'>The Correlates of War Project</a>.  For specific dataset citations, see the References section at the bottom of the notebook.

#### Contents
<ul>
    <li><a href='#gather'>Data Gathering</a></li>
    <li><a href='#assess1'>Assess, Part 1</a></li>
    <li><a href='#clean1'>Clean, Part 1</a></li>
    <li><a href='#update-societies'>Update `society` Table</a></li>
    <li><a href='#assess2'>Assess, Part 2</a></li>
    <li><a href='#clean2'>Clean, Part 2</a></li>
    <li><a href='#assess3'>Assess, Part 3</a></li>
    <li><a href='#clean3'>Clean, Part 3</a></li>
    <li><a href='#final'>Finished Dataframes</a></li>
    <li><a href='#references'>References</a></li>
</ul>

In [1]:
# Import packages
import requests
import pandas as pd

In [2]:
# Import classes and functions needed for this analysis from config module
# These are only available on my computer
from config import dbaccess, error_dict_to_string

# Create an instance of the DBAccess class for running queries
db = dbaccess.DBAccess()

<a id='gather'></a>
## Data Gathering
### Colonization Data

In [3]:
icow = pd.read_csv( 'colonial_data.csv' )
icow.sample(5)

,State,Name,ColRuler,IndFrom,IndDate,IndViol,IndType,SecFrom,SecDate,SecViol,Into,IntoDate,COWsys,GWsys,Notes
29,140,Brazil,235,235,182209,0,2,-9,-9,-9,-9,-9,182209,182209,-9
105,432,Mali,220,220,196009,0,2,-9,-9,-9,-9,-9,196006,196009,-9
195,816,Vietnam/Dem.Rep.Vietnam (North),220,220,195407,1,2,-9,-9,-9,-9,-9,195407,195405,G&W add earlier indep from 1/1/1816-1/1/1893
142,571,Botswana,200,200,196609,0,2,-9,-9,-9,-9,-9,196609,196609,-9
109,436,Niger,220,220,196008,0,2,-9,-9,-9,-9,-9,196010,196008,Part of French West Africa

### Country Codes
Read in and de-duplicate the country codes used by The Correlates of War Project. Rename columns and set `country_code` as the dataframe key.

In [4]:
country_codes = pd.read_csv( 'cow_country_codes.csv' )
country_codes.drop_duplicates( inplace=True )
country_codes.rename( columns={'StateAbb': 'abbreviation', 'CCode': 'cow_code', 'StateNme': 'country_name'}, inplace=True )
country_codes.sample(5)

    abbreviation  cow_code            country_name
119          ICE       395                 Iceland
235          TUV       947                  Tuvalu
9            JAM        51                 Jamaica
92           BOS       346  Bosnia and Herzegovina
149          RWA       517                  Rwanda

<a id='assess1'></a>
## Assess, Part 1

In [5]:
icow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 15 columns):
State       217 non-null int64
Name        217 non-null object
ColRuler    217 non-null int64
IndFrom     217 non-null int64
IndDate     217 non-null int64
IndViol     217 non-null int64
IndType     217 non-null int64
SecFrom     217 non-null int64
SecDate     217 non-null int64
SecViol     217 non-null int64
Into        217 non-null int64
IntoDate    217 non-null int64
COWsys      217 non-null int64
GWsys       217 non-null int64
Notes       217 non-null object
dtypes: int64(13), object(2)
memory usage: 25.6+ KB

In [6]:
# Unique values in Colonial Ruler column
print( icow['ColRuler'].nunique() )
icow['ColRuler'].unique()

17

array([200, 230, 220, 210, 235,  -9, 255, 300, 640, 365, 211, 325, 710,
       740, 900,   2, 920], dtype=int64)

In [7]:
icow['IndViol'].unique()

array([1, 0], dtype=int64)

In [8]:
icow['IndType'].unique()

array([2, 3, 1, 4], dtype=int64)

### Issues Found
`1)` Remove countries with -9 in `ColRuler`, `IndFrom`, `SecFrom`, and `Into`. 

`2)` Rename columns to more reader-friendly format.

`3)` Merge country information from Correlates of War Project with that already in the `society` database table.

<a id='clean1'></a>
## Clean, Part 1

### 1) Remove Uncolonized Countries
Delete all entries where `ColRuler`, `IndFrom`, `SecFrom`, and `Into` columns are -9. These countries were never colonized, never declared independence or seceded from another country, and never merged into another country and are therefore unnecessary in the dataset.

#### Code

In [9]:
icow.drop( icow.query( '( ColRuler == -9 ) & ( IndFrom == -9 ) & ( SecFrom == -9 ) & ( Into == -9 )' ).index, inplace=True )

#### Test

In [10]:
print( icow['ColRuler'].nunique() )
icow['ColRuler'].unique()

17

array([200, 230, 220, 210, 235,  -9, 255, 300, 640, 365, 211, 325, 710,
       740, 900,   2, 920], dtype=int64)

### 2) Rename Columns
Create reader-friendly column names.

#### Code

In [11]:
icow.rename( columns={
    'State': 'country_code',
    'Name': 'country',
    'ColRuler': 'colonizer',
    'IndFrom': 'indep_from',
    'IndDate': 'indep_date',
    'IndViol': 'indep_violent',
    'IndType': 'indep_type',
    'SecFrom': 'secession_from',
    'SecDate': 'secession_date',
    'SecViol': 'secession_violent',
    'Into': 'merged_into',
    'IntoDate': 'merged_date',
    'COWsys': 'cow_indep_date',
    'GWsys': 'gw_indep_date',
    'Notes': 'notes'
}, inplace=True )

#### Test

In [12]:
icow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 216
Data columns (total 15 columns):
country_code         193 non-null int64
country              193 non-null object
colonizer            193 non-null int64
indep_from           193 non-null int64
indep_date           193 non-null int64
indep_violent        193 non-null int64
indep_type           193 non-null int64
secession_from       193 non-null int64
secession_date       193 non-null int64
secession_violent    193 non-null int64
merged_into          193 non-null int64
merged_date          193 non-null int64
cow_indep_date       193 non-null int64
gw_indep_date        193 non-null int64
notes                193 non-null object
dtypes: int64(13), object(2)
memory usage: 24.1+ KB

### 3) Match COW Countries with `society` Table
Many countries already exist in the `society` database table, based on United Nations data. Match COW Project countries with those in the database and execute an UPDATE query to set their `cow_code` field to the corresponding value in the `country_codes` dataframe. Add countries in the COW data that are not in the database to `society`.

#### Code

In [13]:
stop

NameError: name 'stop' is not defined

In [14]:
# Get societies from the database
query = db.run_query('SELECT society_id, common_name FROM society')
societies = pd.DataFrame.from_dict( query['data'] )
societies.sample(5)

     society_id common_name
22           23       Benin
138         139   Mauritius
29           30      Brazil
231         232      Uganda
119         120      Latvia

Find entries in `country_codes` that are not in the `societies` dataframe (i.e., not in the `society` database table).

In [15]:
print( country_codes[ ~country_codes['country_name'].isin(list(societies['common_name'].unique())) ].shape )
country_codes[ ~country_codes['country_name'].isin(list(societies['common_name'].unique())) ]

(40, 3)

    abbreviation  cow_code                      country_name
0            USA         2          United States of America
2            BHM        31                           Bahamas
14           SLU        56                         St. Lucia
15           SVG        57    St. Vincent and the Grenadines
16           AAB        58                 Antigua & Barbuda
17           SKN        60               St. Kitts and Nevis
41           NTH       210                       Netherlands
55           HAN       240                           Hanover
56           BAV       245                           Bavaria
59           GFR       260           German Federal Republic
60           GDR       265        German Democratic Republic
61           BAD       267                             Baden
62           SAX       269                            Saxony
63           WRT       271                      Wuerttemburg
64           HSE       273                   Hesse Electoral
65           HSG       275                 Hesse Grand Ducal
66           MEC       280              Mecklenburg Schwerin
69           AUH       300                   Austria-Hungary
73           CZE       315                    Czechoslovakia
75           CZR       316                    Czech Republic
78           PAP       327                      Papal States
79           SIC       329                      Two Sicilies
81           MOD       332                            Modena
82           PMA       335                             Parma
83           TUS       337                           Tuscany
90           YUG       345                        Yugoslavia
93           KOS       347                            Kosovo
120          CAP       402                        Cape Verde
121          STP       403             Sao Tome and Principe
130          CDI       437                       Ivory Coast
143          DRC       490  Democratic Republic of the Congo
147          ZAN       511                          Zanzibar
164          SWA       572                         Swaziland
188          YAR       678               Yemen Arab Republic
190          YPR       680           Yemen People's Republic
204          TAW       713                            Taiwan
205          KOR       730                             Korea
222          RVN       817               Republic of Vietnam
228          ETM       860                        East Timor
241          FSM       987    Federated States of Micronesia

Fifteen of these 40 unmatched countries are already in `societies`, but `country_name` in `country_codes` is different from `common_name` in `societies`. Update `country_name` in `country_codes` dataframe to match `common_name`. Create two dataframes, one for countries already in the database that need to be updated with COW country codes and one for countries that need to be added to the database.

In [16]:
# Update country_name to match common_name in the database
update_cow = {
    'United States of America': 'USA',
    'Bahamas': 'The Bahamas',
    'St. Lucia': 'Saint Lucia',
    'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'Antigua & Barbuda': 'Antigua and Barbuda',
    'St. Kitts and Nevis': 'Saint Kitts and Nevis',
    'Netherlands': 'The Netherlands',
    'Czech Republic': 'Czechia',
    'Cape Verde': 'Cabo Verde',
    'Sao Tome and Principe': 'São Tomé and Príncipe',
    'Ivory Coast': 'Côte d’Ivoire',
    'Democratic Republic of the Congo': 'DRC',
    'Swaziland': 'Eswatini',
    'East Timor': 'Timor-Leste',
    'Federated States of Micronesia': 'Micronesia'
}
country_codes.replace({'country_name': update_cow}, inplace=True)

####### Create two dataframes
# Societies already in the database that need to be updated with COW country code
# Use inner merge to get countries with data in database and country_codes dataframe
existing_societies = country_codes.merge( societies, left_on='country_name', right_on='common_name', how='inner' )

# Societies that need to be added to the database
# Find country_name in country_codes dataframe that aren't in existing_societies
new_societies = country_codes[ ~country_codes['country_name'].isin(list(existing_societies['country_name'].unique())) ]

#### Test

In [17]:
# There should be 25 new_societies and 192 existing_societies
print( 'New:', new_societies.shape[0] )
print( 'Existing:', existing_societies.shape[0] )

New: 25
Existing: 192

<a id='update-societies'></a>
## Update `society` Table
`1)` Update `society` table in database: Set `cow_code` for records in `existing_societies`.

`2)` Create necessary information for records in `new_societies` and add to `society` table.

### Update Existing Societies with COW Country Code

In [19]:
# Drop columns that aren't needed for UPDATE statement
existing_societies.drop(columns=['abbreviation','country_name','common_name'], inplace=True)
existing_societies.sample(5)

     cow_code  society_id
129       615           3
13         58           9
189       986         165
102       483          43
8          53          19

In [ ]:
# Create UPDATE statement and execute
# NEED TO CREATE DB METHOD TO CREATE UPDATE STATEMENT

### Add New Societies

In [21]:
# Add minimum necessary information to dataframe
# common_name, official_name, society_type_id
new_societies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 55 to 222
Data columns (total 3 columns):
abbreviation    25 non-null object
cow_code        25 non-null int64
country_name    25 non-null object
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [ ]:
# Create INSERT statement and execute

<a id='assess2'></a>
## Assess, Part 2

In [ ]:
print( icow['colonizer'].nunique() )
icow['colonizer'].unique()

In [ ]:
print( icow['indep_from'].nunique() )
icow['indep_from'].unique()

### Issues Found
`1)` Add country name into dataframe for columns `colonizer` and `indep_from`.

`2)` Convert `indep_date`, `cow_indep_date`, and `gw_indep_date` from int to Time Period.

<a id='clean2'></a>
## Clean, Part 2

### 1) Add Country Name for columns with Country Codes
Insert columns to hold country name based on country codes in `colonizer`, `indep_from`, `secession_from`, and `merged_into` columns. 

Five Central American countries were part of the Federal Republic of Central America (country code: 89), which is not in the Correlates of War Project list. Manually update these entries. Morocco and Saudi Arabia will remain as nan because indep_from is -9.

#### Code

In [ ]:
columns = ['colonizer','indep_from','secession_from','merged_into']
for column in columns:
    # Join on country code, then rename the joined column
    icow = icow.join( country_codes['country_name'], on=column )
    new_column_name = column + '_name'
    icow.rename( columns={'country_name': new_column_name}, inplace=True )

In [ ]:
indexes = icow.query( 'indep_from == 89' ).index.tolist()
icow.loc[ indexes, 'indep_from_name' ] = 'Federal Republic of Central America'

#### Test

In [ ]:
icow.info()

In [ ]:
print( icow['colonizer'].nunique() )
print( icow['colonizer_name'].nunique() )
icow['colonizer_name'].unique()

In [ ]:
print( icow['indep_from'].nunique() )
print( icow['indep_from_name'].nunique() )
icow['indep_from_name'].unique()

In [ ]:
icow[ icow['indep_from_name'].isnull() ]

### 2) Convert date columns to datetime

Convert `indep_date`, `secession_date`, `merged_date`, `cow_indep_date`, and `gw_indep_date` from int to Time Period. 

**Note to future me**: I originally attempted a conversion to datetime, but datetime has a limitation to dates between 1677-09-21 and 2262-04-11. A few values fall outside of this range, therefore the workaround found <a href='https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-oob' target='_new'>here</a> was used. This caused the following problem: <a href='https://stackoverflow.com/questions/58019763/jupyter-kernel-crash-when-querying-dataframe-with-period-datatype' target='_new'>Jupyter kernel crash when querying dataframe with Period datatype</a>. 

*Solution:* The error was caused by -9 in the `gw_indep_date` column. While the conversion to Period didn't fail, it somehow corrupted the dataframe, making queries impossible. By setting -9 dates to 000101 prior to conversion, a valid Period of 0001-01-01 is obtained and the dataframe functions properly.

#### Code

In [ ]:
# Conversion function to create Time Period, copied without modification from Pandas documentation linked in the cell above
def conv(x):
    return pd.Period( year=x // 10000, month=x // 100 % 100, day=x % 100, freq='D' )

# -9 entries in date columns cause problems with the dataframe after conversion to Period
# This sets them to a valid far past date of 000101
def fix_dates(x):
    return '000101' if x == -9 else x

In [ ]:
# Convert string representations of date to Time Period
# First, apply fix_dates function to each column to ensure missing data converts properly (-9 in the original dataset)
# Then append '01' to create format YYYYMMDD (dataset contains only YYYYMM), then apply conversion function
columns = ['indep_date','secession_date','merged_date','cow_indep_date','gw_indep_date']
for column in columns:
    icow[column] = icow[column].apply(fix_dates)
    icow[column] = ( icow[column].astype('str') + '01' ).astype('int').apply(conv)

#### Test

In [ ]:
icow.info()

In [ ]:
# Check the three entries that failed when attempting conversion to datetime
icow[ icow.index.isin( [148,150,170] ) ][['country','indep_date','cow_indep_date','gw_indep_date']]

<a id='assess3'></a>
## Assess, Part 3

In [ ]:
icow['colonizer'].value_counts()

In [ ]:
icow['indep_from'].value_counts()

In [ ]:
icow['secession_from'].value_counts()

In [ ]:
icow['merged_into'].value_counts()

### Issues Found
`1)` Numerous -9 values found in `colonizer`, `indep_from`, `secession_from`, and `merged_into` columns. Split into 4 datasets, one dataset for each of the four columns where the value is not -9.

<a id='clean3'></a>
## Clean, Part 3

### 1) Split into 4 datasets
Create a dataset each for colonized countries, countries that declared independence, countries that seceded, and countries that merged into another. To populate these datasets, get all values that are not -9 from the corresponding columns: `colonizer`, `indep_from`, `secession_from`, `merged_into`

#### Code

In [ ]:
colonized = icow.query( 'colonizer != -9' ).copy()
colonized.shape

In [ ]:
independence = icow.query( 'indep_from != -9' ).copy()
independence.shape

In [ ]:
seceded = icow.query( 'secession_from != -9' ).copy()
seceded.shape

In [ ]:
merged = icow.query( 'merged_into != -9' ).copy()
merged.shape

#### Test

In [ ]:
colonized['colonizer'].value_counts()

In [ ]:
independence['indep_from'].value_counts()

In [ ]:
seceded['secession_from'].value_counts()

In [ ]:
merged['merged_into'].value_counts()

<a id='references'></a>
## References

<li>Paul R. Hensel (2018). "ICOW Colonial History Data Set, version 1.1." Available at <a href='http://www.paulhensel.org/icowcol.html' target='_new'>http://www.paulhensel.org/icowcol.html</a></li>
<li><a href='http://www.correlatesofwar.org/data-sets/downloadable-files/cow-country-codes' target='_new'>Correlates of War country codes</a></li>