# Wrangling Former Colonies
## By: Scott Kustes

### Objective:
Compile a list of modern countries that are former colonies of other modern countries, their colonizers, year of colonization, and year of independence.

#### Datasets:
The main dataset was downloaded from <a href='http://www.paulhensel.org/icow.html' target='_new'>The Issue Correlates of War Project</a>. Additional datasets were downloaded from <a href='http://www.correlatesofwar.org' target='_new'>The Correlates of War Project</a>.  For specific dataset citations, see the References section at the bottom of the notebook.

#### Contents
<ul>
    <li><a href='#gather'>Data Gathering</a></li>
    <li><a href='#assess'>Assess</a></li>
    <li><a href='#clean'>Clean</a></li>
    <li><a href='#final'>Finished Dataframes</a></li>
    <li><a href='#references'>References</a></li>
</ul>

In [5]:
# Import packages
import requests
import pandas as pd
import os.path as os_path

<a id='gather'></a>
## Data Gathering

In [6]:
icow = pd.read_csv( 'colonial_data.csv' )
icow.sample(5)

,State,Name,ColRuler,IndFrom,IndDate,IndViol,IndType,SecFrom,SecDate,SecViol,Into,IntoDate,COWsys,GWsys,Notes
126,510,Tanzania (Tanganyika),200,200,196112,0,2,-9,-9,-9,-9,-9,196112,196112,Tanganyika during mandate; united w/ Zanzibar ...
142,571,Botswana,200,200,196609,0,2,-9,-9,-9,-9,-9,196609,196609,-9
46,235,Portugal,-9,-9,113907,0,1,-9,-9,-9,-9,-9,181601,181601,Dependency of Spain 1580-1640
194,812,Laos,220,220,195310,1,2,-9,-9,-9,-9,-9,195310,195405,Claimed / invaded by Thais before French contr...
35,200,United Kingdom,-9,-9,106612,1,1,-9,-9,-9,-9,-9,181601,181601,-9

### Country Codes
Read in and de-duplicate the country codes used by The Correlates of War Project.

In [7]:
country_codes = pd.read_csv( 'cow_country_codes.csv' )
country_codes.drop_duplicates( inplace=True )
country_codes.sample(5)

    StateAbb  CCode             StateNme
75       CZR    316       Czech Republic
187      SAU    670         Saudi Arabia
17       SKN     60  St. Kitts and Nevis
41       NTH    210          Netherlands
216      MAD    781             Maldives

<a id='assess'></a>
## Assess

In [23]:
icow.query( 'ColRuler < 0' )['ColRuler'].unique()

Empty DataFrame
Columns: [State, Name, ColRuler, IndFrom, IndDate, IndViol, IndType, SecFrom, SecDate, SecViol, Into, IntoDate, COWsys, GWsys, Notes]
Index: []

In [18]:
pd.set_option('display.max_colwidth', -1)
icow.query( 'ColRuler != IndFrom' )[['Name','IndDate','Notes']]

,Name,IndDate,Notes
3,Cuba,190205,COW system interrupted 9/1906-1/1909 (US occup); indep from USA coded as nonviolent (but long revolt against Spanish rule before USA acquired Cuba)
5,Dominican Republic,184402,COW system interrupted 11/1916-9/1924 (US occup); terr chg data incl 1865 indep from Spain; ruled by Haiti (not a COW system member) from 1822 to 1844 revolution
17,Guatemala,183904,Seceded from United States/Provinces of Cent.Am. (not in COW system; G&W 7/1/1823-12/31/1839)
18,Honduras,183811,Seceded from United States/Provinces of Cent.Am. (not in COW system; G&W 7/1/1823-12/31/1839)
19,El Salvador,184004,Seceded from United States/Provinces of Cent.Am. (not in COW system; G&W 7/1/1823-12/31/1839)
20,Nicaragua,183804,Seceded from United States/Provinces of Cent.Am. (not in COW system; G&W 7/1/1823-12/31/1839)
21,Costa Rica,183811,Seceded from United States/Provinces of Cent.Am. (not in COW system; G&W 7/1/1823-12/31/1839)
22,Panama,190311,Was part of Colombia until US supported 1903 rebellion
24,Venezuela,183001,Seceded from Gran Colombia (not in COW system; G&W: 8/30/1821-9/22/1830)
27,Ecuador,183005,Seceded from Gran Colombia (not in COW system; in G&W system 8/30/1821-9/22/1830)
34,Uruguay,182808,Colonized by Spain (ruled from Argentina); annexed by Brazil from 1820-7 as Cisplatine province
37,Netherlands,158107,COW system interrupted 7/1940-6/1945 (Ger occup); ruled by Austrian Hapsburgs until 1472 & Spanish Hapsburgs until 1581
50,German Federal Rep. (West Germany),194909,Temporary 1945-90 split of Germany following WWII
51,German Democratic Rep. (East Germany),194910,Temporary 1945-90 split of Germany following WWII
60,Austria,191811,Emerged from breakup of Hapsburg Empire; COW system interrupted 3/1939-4/1945 (German annexation) & 4/1945-7/1955 (Allied occupation); Terr chg & Polity2 treat as continuation of Austria-Hungary / COW system codes as separate state number
61,Hungary,191811,Emerged from breakup of Hapsburg Empire; terr chg codes as seceding from #305 Austria (not #300 Austria-Hungary)
63,Czechia / Czech Republic,199301,"Emerged from breakup of Czechoslovakia (""Velvet Divorce"")"
64,Slovakia,199301,"Emerged from breakup of Czechoslovakia (""Velvet Divorce""); terr chg includes 1939 secession from Czechoslovakia under German rule (didn't enter system)"
74,Montenegro,200606,Seceded from Serbia & Montenegro (former Yugoslavia)
75,North Macedonia (Macedonia/FYROM),199109,"""Former Yugoslav Republic of..."" due to Greek clam to Macedonian name"
76,Croatia,199106,Polity2 codes earlier indep in 1830
78,Bosnia and Herzegovina,199203,Acquired by Austria from Turkey in 1878 Treaty of Berlin
79,Kosovo,200802,Seceded from Serbia following civil war & NATO intervention
80,Slovenia,199106,-9
84,Moldova,199112,-9
92,Armenia,199112,Terr chg also includes 1918 violent secession (but not system entry); previously under Ottoman/Persian rule; parts ceded to Russia in 1828-89 and 1878
95,Finland,191712,Ceded by Sweden to Russia in 1809 after war
97,Norway,190506,COW system interrupted 4/1940-5/1945 (Ger occup)
99,Iceland,194406,-9
106,Senegal,196008,Part of Mali Federation (1959-60) & Senegambia (1982-9)
133,Eritrea,199305,British occupied in 1941 & administered under UN trust from 1949-52; seceded from Ethiopia after long war
140,Namibia,199003,Mandated to South Africa in 1920 - mandate withdrawn in 1966
146,Mauritius,196803,French took from Dutch 1710; captured by British 1810 / formally ceded in 1814
148,Morocco,166606,Independence interrupted by 1911-56 French occupation; France and Spain both colonized Morocco (much of Spanish Morocco is now Western Sahara)
151,Libya,195112,G&W add earlier indep from 1/1/1816-12/31/1834
153,South Sudan,201107,Seceded from Sudan by referendum after long civil war
156,Iraq,193210,Occupied by British from 1917-20 before becoming League mandate
158,Syria,194604,COW system membership interrupted by 1958-61 merger into UAR (G/W leave Syria in system); French mandate (Levant States
159,Lebanon,194311,French mandate (Levant States) included both Lebanon & Syria
160,Jordan,194605,Occupied by British 1918-23 before becoming League mandate
161,Israel,194805,Occupied by British from 1918-23 before becoming League mandate
162,Saudi Arabia,192601,Created by Ibn Saud 1927; united Hejaz (freed from Turks 1924-5 ) & Nejd (1906)
164,Yemen,199005,G&W merge #680 into #678 instead of creating #679; created by merger of (North) Yemen Arab Rep + (South) Yemen PDR
170,Oman,174100,Close relationship with UK - but apparently not colony- or protectorate-level
179,Taiwan (ROC),194912,"Both China & Taiwan consider selves sole rulers of ""One China"" (1949-99)"
181,North Korea (DPRK),194809,Not coded as leaving unified Korea because 1945 Korea was Jap. protectorate
182,South Korea (ROK),194808,Not coded as leaving unified Korea because 1945 Korea was Jap. protectorate
185,Bhutan,194708,Ruled by Chinese before British/Indians; British end date=indep of India
187,Bangladesh,197112,"Terr chg includes the indep case as well as an ""initial system membership list"" entrry (???)"
198,Singapore,196508,Briefly merged with Malaysia 1962-5
200,Philippines,194607,US took possession from Spain after Spanish-American War
202,East Timor (Timor-Leste),200205,Formerly Portuguese Timor
204,Papua New Guinea,197509,Australia took over British Papua 1905 / mandated German New Guinea 1920
206,Vanuatu,198007,Britain & France set up joint condominium in 1906

### Issues Found
1) Remove unnecessary columns

2) Rename remaining columns

3) Remove countries with -9 in ColRuler: never colonized

4) Resolve disparities where ColRuler != IndFrom

<a id='clean'></a>
## Clean

<a id='references'></a>
## References

<li>Paul R. Hensel (2018). "ICOW Colonial History Data Set, version 1.1." Available at <a href='http://www.paulhensel.org/icowcol.html' target='_new'>http://www.paulhensel.org/icowcol.html</a></li>
<li><a href='http://www.correlatesofwar.org/data-sets/downloadable-files/cow-country-codes' target='_new'>Correlates of War country codes</a></li>