# Wrangling Former Colonies
## By: Scott Kustes

### Objective:
Compile a list of modern countries that are former colonies of other modern countries, their colonizers, year of colonization, and year of independence.

#### Datasets:
The main dataset was downloaded from <a href='http://www.paulhensel.org/icow.html' target='_new'>The Issue Correlates of War Project</a>. Additional datasets were downloaded from <a href='http://www.correlatesofwar.org' target='_new'>The Correlates of War Project</a>.  For specific dataset citations, see the References section at the bottom of the notebook.

#### Contents
<ul>
    <li><a href='#gather'>Data Gathering</a></li>
    <li><a href='#assess'>Assess</a></li>
    <li><a href='#clean'>Clean</a></li>
    <li><a href='#final'>Finished Dataframes</a></li>
    <li><a href='#references'>References</a></li>
</ul>

In [34]:
# Import packages
import requests
import pandas as pd
import os.path as os_path

<a id='gather'></a>
## Data Gathering

In [111]:
icow = pd.read_csv( 'colonial_data.csv' )
icow.sample(5)

,State,Name,ColRuler,IndFrom,IndDate,IndViol,IndType,SecFrom,SecDate,SecViol,Into,IntoDate,COWsys,GWsys,Notes
1,20,Canada,200,200,186707,0,2,-9,-9,-9,-9,-9,192001,186707,Independent but not a COW system member from 1...
121,483,Chad,220,220,196008,0,2,-9,-9,-9,-9,-9,196008,196008,Part of French Equatorial Africa 1910-20
9,54,Dominica,200,200,197811,0,2,-9,-9,-9,-9,-9,197811,-9,Settled by French; taken by Britain in 18th ce...
83,355,Bulgaria,640,640,187803,1,2,-9,-9,-9,-9,-9,190810,187803,-9
25,110,Guyana,200,200,196605,0,2,-9,-9,-9,-9,-9,196605,196605,Founded by Dutch but ceded to British in 1814

In [118]:
icow[ icow['ColRuler'] != icow['IndFrom'] ]

,State,Name,ColRuler,IndFrom,IndDate,IndViol,IndType,SecFrom,SecDate,SecViol,Into,IntoDate,COWsys,GWsys,Notes
3,40,Cuba,230,2,190205,0,2,-9,-9,-9,-9,-9,190205,190205,COW system interrupted 9/1906-1/1909 (US occup...
5,42,Dominican Republic,230,41,184402,1,3,41,184402,1,-9,-9,189401,184402,COW system interrupted 11/1916-9/1924 (US occu...
17,90,Guatemala,230,89,183904,1,3,89,183904,1,-9,-9,186801,182307,Seceded from United States/Provinces of Cent.A...
18,91,Honduras,230,89,183811,1,3,89,183811,1,-9,-9,189901,184001,Seceded from United States/Provinces of Cent.A...
19,92,El Salvador,230,89,184004,1,3,89,184004,1,-9,-9,187501,184001,Seceded from United States/Provinces of Cent.A...
20,93,Nicaragua,230,89,183804,1,3,89,183804,1,-9,-9,190001,184001,Seceded from United States/Provinces of Cent.A...
21,94,Costa Rica,230,89,183811,1,3,89,183811,1,-9,-9,192001,184001,Seceded from United States/Provinces of Cent.A...
22,95,Panama,230,100,190311,1,3,100,190311,1,-9,-9,190311,190311,Was part of Colombia until US supported 1903 r...
24,101,Venezuela,230,100,183001,0,3,100,183001,0,-9,-9,184101,182901,Seceded from Gran Colombia (not in COW system;...
27,130,Ecuador,230,100,183005,0,3,100,183005,0,-9,-9,185401,183005,Seceded from Gran Colombia (not in COW system;...
34,165,Uruguay,230,140,182808,1,3,140,182808,1,-9,-9,188201,183005,Colonized by Spain (ruled from Argentina); ann...
37,210,Netherlands,-9,230,158107,1,2,-9,-9,-9,-9,-9,181601,181601,COW system interrupted 7/1940-6/1945 (Ger occu...
50,260,German Federal Rep. (West Germany),-9,255,194909,1,4,255,194909,1,255,199010,195505,194909,Temporary 1945-90 split of Germany following WWII
51,265,German Democratic Rep. (East Germany),-9,255,194910,1,4,255,194910,1,255,199010,195403,194510,Temporary 1945-90 split of Germany following WWII
60,305,Austria,-9,300,191811,1,4,300,191811,1,-9,-9,191909,191811,Emerged from breakup of Hapsburg Empire; COW s...
61,310,Hungary,-9,300,191811,1,4,300,191811,1,-9,-9,191811,191811,Emerged from breakup of Hapsburg Empire; terr ...
63,316,Czechia / Czech Republic,300,315,199301,0,4,315,199301,0,-9,-9,199301,199301,"Emerged from breakup of Czechoslovakia (""Velve..."
64,317,Slovakia,300,315,199301,0,4,315,199301,0,-9,-9,199301,199301,"Emerged from breakup of Czechoslovakia (""Velve..."
74,341,Montenegro,640,345,200606,0,3,345,200606,0,-9,-9,200606,200606,Seceded from Serbia & Montenegro (former Yugos...
75,343,North Macedonia (Macedonia/FYROM),640,345,199109,0,3,345,199109,0,-9,-9,199304,199111,"""Former Yugoslav Republic of..."" due to Greek ..."
76,344,Croatia,300,345,199106,1,3,345,199106,1,-9,-9,199201,199106,Polity2 codes earlier indep in 1830
78,346,Bosnia and Herzegovina,640,345,199203,1,3,345,199203,1,-9,-9,199204,199204,Acquired by Austria from Turkey in 1878 Treaty...
79,347,Kosovo,640,345,200802,1,3,345,200802,1,-9,-9,200802,200802,Seceded from Serbia following civil war & NATO...
80,349,Slovenia,300,345,199106,1,3,345,199106,1,-9,-9,199201,199204,-9
84,359,Moldova,640,365,199112,0,3,-9,-9,-9,-9,-9,199112,199108,-9
92,371,Armenia,640,365,199112,0,3,-9,-9,-9,-9,-9,199112,199112,Terr chg also includes 1918 violent secession ...
95,375,Finland,-9,365,191712,1,2,-9,-9,-9,-9,-9,191712,191712,Ceded by Sweden to Russia in 1809 after war
97,385,Norway,-9,380,190506,0,3,380,190506,0,-9,-9,190506,190507,COW system interrupted 4/1940-5/1945 (Ger occup)
99,395,Iceland,-9,390,194406,0,3,390,194406,0,-9,-9,194406,194406,-9
106,433,Senegal,220,432,196008,0,2,432,196008,0,-9,-9,196008,196004,Part of Mali Federation (1959-60) & Senegambia...
133,531,Eritrea,325,530,199305,1,3,530,199305,1,-9,-9,199305,199305,British occupied in 1941 & administered under ...
140,565,Namibia,200,560,199003,1,2,-9,-9,-9,-9,-9,199003,199003,Mandated to South Africa in 1920 - mandate wit...
146,590,Mauritius,220,200,196803,0,2,-9,-9,-9,-9,-9,196803,196803,French took from Dutch 1710; captured by Briti...
148,600,Morocco,220,-9,166606,1,1,-9,-9,-9,-9,-9,184701,181601,Independence interrupted by 1911-56 French occ...
151,620,Libya,640,200,195112,0,2,-9,-9,-9,-9,-9,195112,195112,G&W add earlier indep from 1/1/1816-12/31/1834
153,626,South Sudan,200,625,201107,1,3,625,201107,1,-9,-9,201107,201107,Seceded from Sudan by referendum after long ci...
156,645,Iraq,640,200,193210,0,2,-9,-9,-9,-9,-9,193210,193210,Occupied by British from 1917-20 before becomi...
158,652,Syria,640,220,194604,1,2,651,196109,0,-9,-9,194604,194601,COW system membership interrupted by 1958-61 m...
159,660,Lebanon,640,220,194311,0,2,-9,-9,-9,-9,-9,194603,194411,French mandate (Levant States) included both L...
160,663,Jordan,640,200,194605,0,2,-9,-9,-9,-9,-9,194603,194605,Occupied by British 1918-23 before becoming Le...
161,666,Israel,640,200,194805,1,2,-9,-9,-9,-9,-9,194805,194805,Occupied by British from 1918-23 before becomi...
162,670,Saudi Arabia,640,-9,192601,1,1,-9,-9,-9,-9,-9,192705,193209,Created by Ibn Saud 1927; united Hejaz (freed ...
164,679,Yemen,200,678,199005,0,1,-9,-9,-9,-9,-9,199005,-9,G&W merge #680 into #678 instead of creating #...
170,698,Oman,235,640,174100,1,2,-9,-9,-9,-9,-9,197110,181601,Close relationship with UK - but apparently no...
179,713,Taiwan (ROC),-9,710,194912,1,3,710,194912,1,-9,-9,194912,194912,Both China & Taiwan consider selves sole ruler...
181,731,North Korea (DPRK),740,730,194809,1,4,-9,-9,-9,-9,-9,194809,194809,Not coded as leaving unified Korea because 194...
182,732,South Korea (ROK),740,730,194808,1,4,-9,-9,-9,-9,-9,194906,194808,Not coded as leaving unified Korea because 194...
185,760,Bhutan,200,750,194708,0,2,-9,-9,-9,-9,-9,197109,194901,Ruled by Chinese before British/Indians; Briti...
187,771,Bangladesh,200,770,197112,1,3,770,197112,1,-9,-9,197112,197112,Terr chg includes the indep case as well as an...
198,830,Singapore,200,820,196508,0,3,820,196508,0,-9,-9,196508,196508,Briefly merged with Malaysia 1962-5
200,840,Philippines,230,2,194607,0,2,-9,-9,-9,-9,-9,194607,194607,US took possession from Spain after Spanish-Am...
202,860,East Timor (Timor-Leste),235,850,200205,1,2,-9,-9,-9,-9,-9,200209,200205,Formerly Portuguese Timor
204,910,Papua New Guinea,200,900,197509,0,2,-9,-9,-9,-9,-9,197509,197509,Australia took over British Papua 1905 / manda...
206,935,Vanuatu,200,220,198007,0,2,-9,-9,-9,-9,-9,198109,-9,Britain & France set up joint condominium in 1906

In [127]:
icow[ icow['Name'].str.contains( "India" ) ]

,State,Name,ColRuler,IndFrom,IndDate,IndViol,IndType,SecFrom,SecDate,SecViol,Into,IntoDate,COWsys,GWsys,Notes
184,750,India,200,200,194708,0,2,-9,-9,-9,-9,-9,194708,194708,-9

In [129]:
icow.loc[60,'Notes']

'Emerged from breakup of Hapsburg Empire; COW system interrupted 3/1939-4/1945 (German annexation) & 4/1945-7/1955 (Allied occupation);  Terr chg & Polity2 treat as continuation of Austria-Hungary / COW system codes as separate state number'

### Country Codes
Read in and de-duplicate the country codes used by The Correlates of War Project.

In [51]:
country_codes = pd.read_csv( 'cow_country_codes.csv' )
country_codes.drop_duplicates( inplace=True )
print( country_codes.shape )

(217, 3)

In [57]:
country_codes.head(5)

  StateAbb  CCode                  StateNme
0      USA      2  United States of America
1      CAN     20                    Canada
2      BHM     31                   Bahamas
3      CUB     40                      Cuba
5      HAI     41                     Haiti

In [130]:
country_codes[ country_codes['CCode'] == 255 ]

   StateAbb  CCode StateNme
57      GMY    255  Germany

In [91]:
country_codes[ country_codes['StateAbb'] == 'NEP' ]

    StateAbb  CCode StateNme
217      NEP    790    Nepal

In [78]:
country_codes[ country_codes['StateNme'] == 'France' ]

   StateAbb  CCode StateNme
47      FRN    220   France

<a id='references'></a>
## References

<li>Paul R. Hensel (2018). "ICOW Colonial History Data Set, version 1.1." Available at <a href='http://www.paulhensel.org/icowcol.html' target='_new'>http://www.paulhensel.org/icowcol.html</a></li>
<li><a href='http://www.correlatesofwar.org/data-sets/downloadable-files/cow-country-codes' target='_new'>Correlates of War country codes</a></li>